<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <style>
    table,th,td{
        border: 2px solid black;
        border-collapse: collapse;
    }
    table{
        width: 80%;
        height: 200px;
        background-color: brown;
    }
    td{
        padding: 30px;
        align-content: center;
    }
    th{
        align-content: center;
    }
</style>

</head>
<body>

<h1>Happyplace Cereal shop</h1>
<table>

    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
   <tr>
        <td>rice</td>
       <td>2kg</td>
       <td>500</td>
   </tr>
    <tr>
        <td>beans</td>
        <td>5kg</td>
        <td>900</td>
    </tr>

</table>

</body>
</html>